.heading {
  display: inline-block;
  padding: 1rem;
}

.headingText {
  @apply font-semibold leading-none lg:text-6xl sm:text-4xl text-2xl text-center;
  color: #fff;
}

.heading:hover .headingText {
  text-shadow: 0 0 0.25em #0BFB00;
}