.heading {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 1rem;
  border-radius: 1px;
}

.headingText {
  @apply font-semibold leading-none lg:text-8xl sm:text-7xl xs:text-6xl text-5xl;
  color: #fff;
}

.heading:hover .headingText {
  text-shadow: 0 0 20px #1f54fb;
}