@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradientText {
    background: linear-gradient(270deg, #00f, #0f0);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

/* Add media query for mobile devices */
@media (max-width: 768px) {
    .gradientText {
        padding-top: 0;
        padding-bottom: 0;
    }
}

